@charset "utf-8";
/* CSS Document */

/*指向后放大*/
.big{
	transition: 1s;
}
.big:hover{
	transform: scale(1.2);
}
/*字体弹出动画规则*/
.animation {
	animation:fadeInUp 2s .2s ease both;
}
@keyframes fadeInUp {
	0% {
	opacity:0;
	transform:translateY(50px)
	}
	100% {
	opacity:1;
	transform:translateY(0)
	}
}
/*动画延迟*/
.animationdelay{
	animation-delay: 0.8s;
}